

    <div class="wrapper">
      <form class="form-signin">       
        <h2 class="form-signin-heading">Please login</h2>
        <input type="text" class="form-control" name="username" placeholder="Enter Username" ng-model = credentials.username />
        <input type="password" class="form-control" name="password" placeholder="Password" ng-model = credentials.password />      
      <button class="btn btn-lg btn-primary btn-block" type="button" ng-click='submitLogin()'>Login</button>   
    </form>

    <h4><a href= "#/register">Dont have an account? Sign up!</a></h4>
  </div>
      
<button ng-click= 'viewLoggedInUser()'>CHECK </button>


  </div>
