
  <div class="container">

    <div class="wrapper">
      <form class="form-signin">       
        <h2 class="form-signin-heading">Please Enter Information</h2>
        <input type="text" class="form-control" name="username" placeholder="Enter Username" ng-model = credentials.username />
        <input type="password" class="form-control" name="password" placeholder="Password" ng-model = credentials.password /> 
        <input type="email" class="form-control" name="email" placeholder="Enter Email" ng-model = credentials.email />        
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click='submitRegistration()'>Register</button>   
    </form>
  </div>
      



  </div>


