<div class="container">

    <div class="wrapper">
      <form class="form-signin">       
        <h2 class="form-signin-heading">Search</h2>
        <input type="number" class="form-control" name="timestamp" placeholder="Enter time" ng-model = credentials.timestamp />
        <input type="number" class="form-control" name="limit" placeholder="Search limit" ng-model = credentials.limit /> 
        <input type="text" class="form-control" name="q" placeholder="Text Search" ng-model = credentials.q /> 
        <input type="text" class="form-control" name="username" placeholder="Username" ng-model = credentials.username /> 
        Following: <input type="checkbox" class="form-control" name="following"  ng-model = credentials.following />         
      <button class="btn btn-lg btn-primary" type="button" ng-click='submitSearch()'>Search</button>   
    </form>
  </div>
    <table class="table table-striped table-bordered">
	  <tr ng-repeat="x in tweets">
		<td >{{x.timestamp}}</td>
		<td><a ng-href = "#/user/{{x.username}}">{{x.username}}</a></td>
		<td>{{x.content}}</td>
    <td>{{x.media[0]}}</td>
    <td><button ng-click = "likeTweet(x)">Like Tweet</button></td>
    <td><a ng-href = "#/get_tweet/{{x.id}}">View Tweet</a></td>
	  </tr> 
    </table>   


  </div>