<div class="wrapper">
    <div class="form-signin">
      <h1 class="form-signin-heading" > {{ tweet.username }} </h1>
      <p> {{tweet.content}} </p>
      <div ng-show ="tweet.media.length > 0"> {{tweet.media[0]}}</div>
      <button ng-click="likeTweet()">Like Tweet</button>
      </div>
</div>