



  <div   class="container">

    <div class="wrapper">
      <form class="form-signin">       
        <h2 class="form-signin-heading">User Verification</h2>
        <input type="text" class="form-control" name="email" placeholder="Enter Email" ng-model = credentials.email />
        <input type="text" class="form-control" name="key" placeholder="Verification Key" ng-model = credentials.verification_key />      
      <button class="btn btn-lg btn-primary btn-block" type="button" ng-click='verify()'>Login</button>   
    </form>
  </div>
  </div>
